{% extends "layout.html" %}
{% block nav %}
    <div class="nav">
        <nav class="navbar navbar-default .navbar-static-top container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Wiki</a>
                </div>
                <button type="button" class="btn btn-default navbar-btn navbar-right"><a href="/">Home</a></button>

                <ul class="nav nav-tabs navbar-left">
                    <li role="presentation"><a href="/{{ title }}">{{ title }}</a></li>
                    <li role="presentation"><a href="/{{ title }}/archives">View Archives</a></li>
                    <li role="presentation" class="active"><a href="#">Edit This Page</a></li>
                    <li role="tab"><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}
    <h1>Update Page for {{ title }}</h1>
    <form action='/{{ title }}/save' method="POST">
        <input type="hidden" name="title" value="{{ title }}">
        <!--<input type="hidden" name="id" value="{{id}}">-->
        <textarea name="page_content" rows="20" cols="100"
                  placeholder="Type Page Content">{{ page_content}}</textarea>
        <p>
            <label for="author_last_modified">Author Name</label>
            <input type="text" size="60" name="author_last_modified" value="{{ author_last_modified }}" required>
        </p>
        <p>
            <button type="submit">Update Page</button>
        </p>
    </form>

    <!--<form action="/delete_entry" method="POST">-->
    <!--<input type="hidden" name="id" value="{{id}}">-->
    <!--<input type="hidden" name="name" value="{{name}}">-->
    <!--<input type="hidden" name="phone_number" value="{{phone_number}}">-->
    <!--<input type="hidden" name="email" value="{{email}}">-->
    <!--<button type="submit">Delete Entry</button>-->
    <!--</form>-->

{% endblock %}