<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}codyswiki.com{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
    <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet/less" href="/static/css/main.less">
    {% block css %}{% endblock %}
    <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
    <script>window.less || document.write('<script src="/static/js/less.js">\x3C/script>')</script>

{#    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
    <link rel="stylesheet" href="../static/style.css">
    <!-- Need Modernizr? Uncomment the following script. -->
    <!-- <script src="/static/js/modernizr.js"></script> -->
</head>
<body>
<header>
    {% include "header.html" %}
</header>
{% block nav %}
    <div class="nav">
        <nav class="navbar navbar-default .navbar-static-top container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Wiki</a>
                </div>
                <button type="button" class="btn btn-default navbar-btn navbar-right"><a href="/">Home</a></button>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <h1>My Wiki</h1>
{% endblock %}
<footer>
    {% include "footer.html" %}
</footer>
<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery.js">\x3C/script>')</script>


<!-- Additional JavaScript libraries and plugins... -->
{% block js %}{% endblock %}


<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script>
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.async = 1;
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>


<!-- Prompt IE < 8 users to install Chrome Frame.  -->
<!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
